a {
    color: #fff;
    text-decoration: none;

}

.navbar {
    height: 114px;
}

body {
    background-color: #EDEEF0;
    font-family: 'Open Sans', sans-serif;
}

header {
    margin-bottom: 60px;
}

footer {
    margin-top: 60px;
    background-color: black;
    height: 200px;
}

.profile {
    padding: 0;
    border-radius: 20px;
    margin-left: 80px;
    height: 1400px;
}


.profile_image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-height: 350px;

}


.user_image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: -50px;
    margin-left: 50px;
}


.user_name {
    padding-top: 10px;
    padding-left: 30px;
}

.status_profile {
    text-align: center;
}

.not_registered-user {
    text-align: center;
    padding: 60px;

}


.online_status {
    color: green;
}

.profile_line {
    width: 100%;
    height: 3px;
    background-color: black;
    margin-top: 50px;
}

.my_profile {
    height: 500px;
    margin-left: 30px;
}

.my_profile_topics {
    margin-top: 20px;
    font-size: 30px;
    color: #363C42;
    text-transform: uppercase;
}

.my_profile_text {
    font-size: 30px;
    color: #363C42;
    text-transform: uppercase;
}

.profile_links {
    text-decoration: none;
    padding-top: 20px;
    color: black;
    font-size: 25px;
}

.profile_links i {
    font-size: 15px;
    padding-right: 30px;
}


/* For post */

.block_content-container {
    margin-left: 10px;
}

.some_opp {
    border-radius: 20px;
    border: 1px solid #e5e0e0;
}

.some_opp a {
    text-decoration: none;
    color: #2186c4;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.something {
    margin-right: 30px;
}

.something:hover {
    background-color: #2186c4;
    color: white;
    transition: .4s;
}

.community {
    margin-left: 30px;
}

.community:hover {
    background-color: #2186c4;
    color: white;
    transition: .4s;
}

.show_posts:hover {
    background-color: #2186c4;
    color: white;
    transition: .4s;
}

.search_btn {
    background-color: transparent;
    border: none;
    color: #2186c4;
    font-size: 20px;
}


.search_btn:hover {
    background-color: #2186c4;
    color: white;
    transition: .4s;
}


.post {
    border-radius: 20px;
    margin-top: 40px;
}


.post_image {
    height: 65px;
    width: 65px;
    border-radius: 50%;
}

.post_header-info {
    margin-left: 20px;

}



.post_creator-name {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #2186c4;
    text-align: left;
}

.created_timesince {
    font-weight: normal;
    font-size: 12px;
    padding-top: 10px;
    color: gray;
    text-align: center;
}

.created_timesince a {
    color: #2186c4;
}


.post_text {
    margin-top: 30px;
}

.post_text-message {
    color: #41484f;
    font-size: 20px;
}

.post_tags {
    margin-top: 30px;
}

.post_tags a {
    color: blue;
    font-size: 20px;
}

.post_buttons {
    margin-top: 30px;
    text-align: center;
}


.post_btn1 {
    border-left: none;
    border-top: 1px solid #e5e0e0;
    border-bottom: 1px solid #e5e0e0;
    border-right: 1px solid #e5e0e0;
    width: 100%;
    color: #2186c4;
    font-size: 20px;
    padding: 20px;
    background-color: transparent;
}

.post_btn2 {
    border-right: none;
    border-left: none;
    border-top: 1px solid #e5e0e0;
    border-bottom: 1px solid #e5e0e0;
    width: 100%;
    color: #2186c4;
    font-size: 20px;
    padding: 20px;
    background-color: transparent;
}


.post_btn1:hover {
    background-color: #2186c4;
    color: white;
    transition: .4s;
}

.post_btn2:hover {
    background-color: #2186c4;
    color: white;
    transition: .4s;
}

.show_comments {
    text-align: center;
    padding: 15px;
}


.show_comments a {
    color: #91919D;
    font-size: 18px;
}

.show_comments a:hover {
    color: black;
    transition: .5s;
}


.post_comments-line {
    height: 1px;
    width: 100%;
    background-color: #e5e0e0;
}



.post_comment {
    margin-top: 30px;

}

.comment_image {
    height: 65px;
    width: 65px;
    border-radius: 50%;
}

.comment_text {
    padding-left: 40px;
}


/*Last Activity*/

.last_activity {
    border-radius: 20px;
}

.last_header-text {
    color: white;
    text-align: center;
    padding: 30px;
    text-transform: uppercase;
    font-size: 20px;
}

.last_activity-header {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #363C42;
}

.last_activity-post {
    border-bottom: 1px solid #e5e0e0;
    padding: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.user_img {
    border-radius: 50%;
    height: 65px;
    width: 65px;
}

.last_user-info {
    margin-left: 20px;
}


.last_user-name {
    color: #2186c4;
}


.last_activity-time {
    font-size: 12px;
    color: gray;
}


.last_post-name {
    color: #2186c4;
}


/*LOGIN PAGE*/

.login_page-container {
    margin-top: 100px;
}

.login_page {
    display: table;
    margin: auto;
    width: 600px;
    background-color:  #e5e5e5;
    border-radius: 10px;
}

.login_page-footer {
    text-align: center;
    align-items: center;
    margin-bottom: 60px;
}

.login_page-body {
    margin: 70px;

}

.login-page_header {
    background-color: #363C42;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;

}

.login_header-title {
    color: #e5e5e5;
    text-transform: uppercase;
    font-size: 18px;
    padding: 25px;

}

.form_group {
    margin-top: 30px;

}

.username_input {
    border: 1px solid #363C42;
    background-color: transparent;
    font-weight: bold;
    height: 42px;
    border-radius: 3px;
    padding-left: 10px;
}

.username_input:focus {
    background-color: transparent;
    padding-left: 10px;
}

.password_input {
    border: 1px solid #363C42;
    background-color: transparent;
    height: 42px;
    border-radius: 3px;
    padding-left: 10px;
}

.password_input:focus {
    background-color: transparent;
    padding-left: 10px;
}

.username_label {
    font-size: 20px;
    color: #2186c4;
    margin-bottom: 10px;
}

.password_label {
    font-size: 20px;
    color: #2186c4;
    margin-bottom: 10px;
}

.form_profile-button {
    margin-top: 15px;
    width: 120px;
    height: 50px;
    border-radius: 4px;
    border: none;
    font-size: 17px;
    background-color: #2186c4;
    color: white;
}

.form_profile-button:hover {
    opacity: .9;
}


.login_footer-text {
    font-size: 15px;
}

.login_footer-link {
    text-decoration: none;
    color: #2186c4;
    font-size: 15px;
}

.login_footer-link:hover {
    border-bottom: 1px solid;
}


/*PRIVATE PROFILE*/

.private_profile {
    margin-left: 10px;
}

.private_profile-img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.private_profile-block {
    background-color: #F8F9FA;
    border-radius: 20px;
    text-align: center;
    align-items: center;

}

.private_profile-block h3 {
    text-align: left;

}


.private_user-img {
    background-size: cover;
    border-radius: 50%;
    margin-top: -50px;
    height: 150px;
    width: 150px;
    border: 4px solid #91919D;

}


.private_profile-name {
    text-align: center !important;
    font-size: 30px;
    padding-top: 25px;
}

.private_profile-info {
    color: #2186c4;
    font-size: 18px;
    padding-top: 10px;
    margin-bottom: 50px;
}

.private_profile_followers {
    color: gray;
}

.private_profile-follow {
    color: #2186c4;
    font-size: 20px;
    padding: 15px 70px;
    border-radius: 30px;
    border: 2px solid #e5e0e0;
}

.private_profile-follow:hover {
    background-color: #2186c4;
    color: white;
    border: none;

}

.private_profile-about {
    text-align: left;
}

.private_about-title {
    text-transform: uppercase;
    color: #2186c4;
    padding-left: 30px;
    margin-top: 50px;
}

.private_profile-about {
    padding: 10px 30px;

}






