{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}


{% block content %}
<div class="col-xl-3 bg-light profile">
    {% include 'base/profile_block.html' %}
</div>

<div class="col-xl-5 private_profile ">
    <div class="private_profile-block">
        <img src="{% static 'base/images/profile_image2.jpg' %}" alt="" class="private_profile-img">
        <img src="{% static 'base/images/user_image8.jpg' %}" alt="" class="private_user-img">
        <h3 class="private_profile-name">Jorjo Kolinz</h3>
        <p class="private_profile-info">@jorjo123 <span class="private_profile_followers">| 132 Followers</span></p>
        <a href="" class="private_profile-follow">Follow</a>
        <h3 class="private_about-title">About</h3>
        <p class="private_profile-about">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi dolor ex incidunt? Debitis ea fugit mollitia nisi reiciendis temporibus.</p>
    </div>
</div>



<div class="col-xl-3">
    <div class="last_activity bg-light">
        <div class="last_activity-header">
            <p class="last_header-text">RECENT ACTIVITIES</p>
        </div>
        {% for message in room_messages %}
        <div class="last_activity-post d-flex align-items-center">
            <img src="{% static 'base/images/user_image3.jpg' %}" alt="" class="user_img">
            <div class="last_user-info d-flex flex-column">
                <a href="{% url 'profile' message.user.id %}" class="last_user-name">@{{ message.user }}</a>
                <p class="last_activity-time">{{ message.created|timesince }} ago</p>
                <div class="replied_to">replied to post "<a href="{% url 'room' message.room.id %}" class="last_post-name">{{ message.room }}</a>"</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}